@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navBar {
    background-color: #78A0F4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarTitulo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navBarNomes {
    position: absolute;
    right: 10px;
    font-size: 14px;
    color: #ffffff;

}

.card {
    width: 310px;
    border: 1px solid #C2C2C2;
    border-radius: 9px;
    /* margin-top: 80px; */
    overflow: hidden;
}

#linkRota{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
    width: 250px;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    color: #C2C2C2;
}

.subTitulo {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 5px;
}

.img-pokemon {
    height: 150px;
    margin: 5px;
}

.nome-pokemon {
    padding: 10px 10px 0;
}

.body {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 12vw;
    align-items: center;
}

.header-card {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 257px;
}

.numero-pokemon {
    font-weight: 400;
    font-size: 13px;
}

.nome1-pokemon {
    font-weight: 500;
    font-size: 25px;
}

.descricao {
    font-size: 12px;
    padding: 10px 0;
}

.body-card {
    padding: 3px;
}

.container-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 28px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 15px;
}

.vector-type {
    display: flex;
    width: 18px;
    height: 18px;
    margin: 3px 10px 3px 3px;
}

.tipo-pokemon-container {
    display: flex;
    padding: 10px;
    align-items: center;
}

.descricao-pokemon {
    padding: 0 10px;
    font-size: 14px;
}

.ataque-container {
    display: flex;
    align-items: center;

}

.ataque-header {
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
    font-size: 10px;
}

.icon-espada {
    display: flex;
    width: 15px;
    height: 15px;
}

.nome-ataque {
    border: 1px solid #C2C2C2;
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 8px;
}

.nome-ataque-container {
    display: flex;
    padding: 4px 10px;
    justify-content: flex-start;
    gap: 15px;
    margin: 5px 0;
}

.footer-componente {
    background-color: #78A0F4;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 0;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-p{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15px;
}

.imgFooter {
    height: 85px;
    margin-right: 25px;
}